
.navbar-brand > img,
{
	width: 20%
	height: 30%
}

logo
{


    margin: 100px 50px;


}
.jumbotron
{
	background-image: url("bigwheel.jpg");
	min-height: 400px;
	background-size: cover;
	
	
}
body
{
    background-color: #B5B1B1;
}
.col-md-7
{
 	
    top: 100px;
    


}
